.header {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
  }
  
  .left {
    flex: 1;
  }
  
  .logo {
    color: white;
    margin: 0;
  }
  
  .right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .join-link {
    background-color: white;
    color: black;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
  }
  