.team-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}


.team-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    width: 150px;
    text-align: center;
}

.team-photo {
    width: 150px; /* Fixed width */
    height: 150px; /* Fixed height */
    border-radius: 50%; /* Make images circular */
    object-fit: cover; /* Ensure images cover the circle without distortion */
    margin-bottom: 10px;
    border: 4px solid transparent; /* Base border color */
    background: linear-gradient(to bottom right, #184E68, #57CA85); /* Gradient background */
    background-clip: border-box; /* Clip the background to the border */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect */
.team-photo:hover {
    transform: scale(1.1); /* Slightly scale up the image */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Enhanced shadow effect */
    opacity: 0.9; /* Slightly reduce opacity for a subtle overlay effect */
}

/* Bold the names */
.team-member p {
    font-weight: bold;
    color: #333;
    font-size: 16px; /* You can adjust the size here if needed */
}

@media (max-width: 768px) {
    .team-grid {
        justify-content: center;
    }
}
